<div class="container">
  <div class="section">
    <div class="row center">

      <h2 id="name" class="header col s12 red-text text-darken-4">Contact</h2>

      <h5 class="header col s12 brown-text text-darken-2">Email | LinkedIn | Twitter</h5>

      <p class="light">To get in touch with Greg, you can use email or social media through the links below.</p>

      <div class="contact-links">
        <div class="chip">
          <i class="material-icons">email</i>
          <a class="valign red-text text-darken-4" href="mailto:greg.lucas@colorado.edu">
          Email Greg Lucas</a>
        </div>
      </div>

      <div class="contact-links">
        <a href="http://www.linkedin.com/pub/greg-lucas/72/989/a39">
          <img class="linkedin-button" src="https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_160x33.png" width="160" height="33" border="0" alt="View Greg Lucas's profile on LinkedIn">
        </a>
      </div>

      <div class="contact-links">
        <a class="twitter-follow-button" href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Fccar.colorado.edu%2Fglucas%2Fcontact.html&ref_src=twsrc%5Etfw&region=follow_link&screen_name=GregMLucas&tw_p=followbutton" alt="Follow Greg Lucas on Twitter" data-size="large" data-show-count="false"></a>
      </div>

    </div>
  </div>
</div>
