<div class="container">
  <div class="section">
    <div class="row center">

      <h2 id="name" class="header col s12 red-text text-darken-4">Contact</h2>

      <h5 class="header col s12 brown-text text-darken-2">Email | LinkedIn</h5>

      <p class="light">To get in touch with Greg, you can use email or social media through the links below.</p>

      <div>
        <div class="chip">
          <a class="red-text text-darken-4" href="mailto:greg.m.lucas@gmail.com"><i class="material-icons email">email</i>Email Greg Lucas</a>
        </div>
      </div>

      <div>
        <a href="https://www.linkedin.com/in/greg-lucas-phd/">
          <img class="linkedin-button" src="https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_160x33.png" width="160" height="33" border="0" alt="View Greg Lucas's profile on LinkedIn">
        </a>
      </div>

    </div>
  </div>
</div>
