<div class="container">
  <div class="section">
    <div class="row center">
      <h2 id="name" class="header col s12 red-text text-darken-4">Experience</h2>
      <h5 class="header col s12 brown-text text-darken-2">Mars Science Laboratory</h5>
      <div class="col s12 m5 l4">
        <ul class="light left-align collection with-header">
          <li class="collection-header"><h5 class="header brown-text text-darken-2">Highlights</h5></li>
          <li class="collection-item">Regis University Affiliate Professor - Intro Physics Lab</li>
          <li class="collection-item">Engineering Statics Student Teacher - 2 semesters</li>
          <li class="collection-item">Engineering Dynamics Student Teacher - 1 semester</li>
          <li class="collection-item">Nuclear Engineering Senior Design - Project Assistant</li>
          <li class="collection-item">Sandia National Laboratory - Technical Staff Member, <br>Safety analysis reports for Mars Science Laboratory</li>
        </ul>
      </div>
      <div class="col col s12 m7 l8 left-align">
        <img id="experience-img-1" src="http://ccar.colorado.edu/glucas/images/2011_MSL_Countdown.jpg">
        <p class="light left-align">I completed my BS in nuclear engineering and MS in medical physics in 2010 from the University of Wisconsin. After finishing school I took a job at Sandia National Laboratories in Albuquerque, NM. At Sandia I worked on a launch accident safety team, which analyzed the risk associated with rocket launches involving nuclear material. The job allowed me to travel to many places and continue my lifelong learning. One of my favorite places to visit was Cape Canaveral, with the most memorable trip being able to witness the launch of the Mars Science Laboratory, for which our team wrote the safety analysis report.</p>
        <a href="http://ccar.colorado.edu/glucas/docs/greg_lucas_cv_web.pdf" class="btn red darken-4 left-align">Full Resume</a>
      </div>
    </div>
  </div>
</div>
