<div class="center">
  <h5 class="header col s12 brown-text text-darken-2" id="programming">Overview</h5>

  <img class="research-img responsive-img" src="./images/research-main.jpg">

  <p class="light left-align">The Global Electric Circuit (GEC) is a research field that investigates the electrical connections within Earth's atmosphere. Responses of this system can be strongly time dependent and generalized as an AC (alternating current) response or slowly time-varying and DC (direct current). AC responses include lightning and transient luminous events and the different electromagnetic signals sent out from these, such as VLF, ELF. Greg's research focuses on the DC aspect of the GEC, which views the atmosphere as a leaky capacitor with the ground and ionosphere being the two plates of the conductor.</p>

  <p class="light left-align">Currently, Greg is developing numerical models for modeling phenomena within the GEC. To model the effect of clouds on the electrical responses of the system, Greg utilized a finite element package to simulate different cloud parameters. This work can be viewed in the <span><a href="http://www.atmos-chem-phys-discuss.net/14/9815/2014/acpd-14-9815-2014.pdf" class="red-text text-darken-4">Journal of Atmosphere and Chemistry paper he co-authored</a></span>.

  <p class="light left-align">To investigate the coupling aspect of different phenomena within the GEC, Greg has incorporated the work on conductivity and source currents into a global circulation model (WACCM). This leverages large climate models that solve the complex atmospheric forcing terms and allows for the GEC currents and electric fields to be solved in a realistic manner. A description of this new modeling framework called WACCM-GEC can be viewed <span><a ui-sref=".gec" class="red-text text-darken-4">here</a></span>.</p>
</div>
