<div ng-init="gregCtrl.accordion()">
  <div class="container">
    <div class="section">
      <div class="row center">

        <h2 id="name" class="header col s12 red-text text-darken-4">Publications</h2>

        <h5 class="header col s12 brown-text text-darken-2">Global Electric Circuit | Nuclear Launch Safety</h5>

        <p class="light">Greg has published a number of peer-reviewed journals, reports, conference papers, and posters - click below for more information.<br>
        <span><a href="https://scholar.google.com/citations?user=0CWZSCUAAAAJ"  target="_blank"class="red-text text-darken-4">Greg's Google Scholar Page</a><br>
        <a href="https://orcid.org/0000-0003-1331-1863" target="orcid.widget" rel="noopener noreferrer" style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">orcid.org/0000-0003-1331-1863</a></span></p>

      </div>
    </div>
  </div>

  <div class="container">

    <ul class="collapsible" data-collapsible="expandable">

      <li>

        <div class="collapsible-header"><i class="material-icons">supervisor_account</i>Peer Reviewed Journals</div>

        <div class="collapsible-body"><p><a href="https://www.wiley.com/en-us/Geomagnetically+Induced+Currents+from+the+Sun+to+the+Power+Grid-p-9781119434344" target="_blank" class="h7 red-text text-darken-4">Empirical estimation of natural geoelectric hazards.</a><br>Love, J. J., Bedrosian, P. A., Kelbert, A., <b>Lucas, G. M.</b> (2019). Geomagnetically Induced Currents from the Sun to the Power Grid, Geophysical Monograph, 244, Chapter 6.</p></div>

        <div class="collapsible-body"><p><a href="https://doi.org/10.1029/2018SW002068" target="_blank" class="h7 red-text text-darken-4">Extreme-value geoelectric amplitude and polarization across the Northeast United States.</a><br>Love, J. J., <b>Lucas, G. M.</b>, Bedrosian, P. A., Kelbert, A (2019). Space Weather, 17.</p></div>

        <div class="collapsible-body"><p><a href="https://doi.org/10.1029/2018SW001844" target="_blank" class="h7 red-text text-darken-4">Geoelectric hazard maps for the Pacific Northwest.</a><br>Love, J. J., <b>Lucas, G. M.</b>, Kelbert, A., Bedrosian, P. A. (2018). Space Weather, 16.</p></div>

        <div class="collapsible-body"><p><a href="https://doi.org/10.1002/2017SW001779" target="_blank" class="h7 red-text text-darken-4">Calculation of voltages in electric power transmission lines during historic geomagnetic storms: an investigation using realistic Earth impedances.</a><br><b>Lucas, G. M.</b>, Love, J. J., Kelbert, A.(2018). Space Weather, 16.</p></div>

        <div class="collapsible-body"><p><a href="https://doi.org/10.1002/2017GL076042" target="_blank" class="h7 red-text text-darken-4">Geoelectric hazard maps for the Mid-Atlantic United States: 100 year extreme values and the 1989 magnetic storm.</a><br>Love, J. J., <b>Lucas, G. M.</b>, Kelbert, A., & Bedrosian, P. A. (2017). Geophysical Research Letters, 44.</p></div>

        <div class="collapsible-body"><p><a href="https://doi.org/10.1002/2017JD026515" target="_blank" class="h7 red-text text-darken-4">Analysis of the diurnal variation of the global electric circuit obtained from different numerical models.</a><br>
        Jánský, J., <b>Lucas, G. M.</b>, Kalb, C., Bayona, V., Peterson, M. J., Deierling, W., … Pasko, V. P. (2017). Journal of Geophysical Research: Atmospheres, 122, 12,906–12,917.</p></div>

        <div class="collapsible-body"><p><a href="http://dx.doi.org/10.1002/2016JD025944" target="_blank" class="h7 red-text text-darken-4">Statistical analysis of spatial and temporal variations in atmospheric electric fields from a regional array of field mills</a><br>
        <b>Lucas, G. M.</b>, J. P. Thayer, and W. Deierling (2017), J. Geophys. Res. Atmos., 122, 1158–1174.</p></div>

        <div class="collapsible-body"><p><a href="http://dx.doi.org/10.1002/2015JD023562" target="_blank" class="h7 red-text text-darken-4">A global electric circuit model within a community climate model</a><br><b>Lucas, G. M.</b>, A. J. G. Baumgaertner, and J. P. Thayer (2015), J. Geophys. Res. Atmos., 120, 12,054–12,066.</p></div>

        <div class="collapsible-body"><p><a href="http://www.geosci-model-dev.net/8/3007/2015/gmd-8-3007-2015.html" target="_blank" class="h7 red-text text-darken-4">A 3-D RBF-FD solver for modeling the atmospheric global electric circuit with topography (GEC-RBFFD v1.0)</a><br>Bayona, V., Flyer, N., <b>Lucas, G. M.</b>, and Baumgaertner, A. J. G.<br>Geosci. Model Dev., 8, 3007-3020, 2015</p></div>

        <div class="collapsible-body"><p><a href="http://onlinelibrary.wiley.com/doi/10.1002/2014GL061471/pdf" target="_blank" class="h7 red-text text-darken-4">The winter helium bulge revisited</a><br>X Liu, W Wang, JP Thayer, A Burns, E Sutton, S Solomon, L Qian, <b>GM Lucas</b><br>Geophysical Research Letters, Vol 49, no 19, pp. 6603-6609, 2014</p></div>

        <div class="collapsible-body"><p><a href="http://www.atmos-chem-phys.net/14/8599/2014/acp-14-8599-2014.pdf" target="_blank" class="h7 red-text text-darken-4">On the role of clouds in the fair weather part of the Global Electric Circuit</a><br>Baumgaertner, A. J. G., <b>Lucas, G. M.</b>, Thayer, J. P., and Mallios, S. A.<br>Atmos. Chem. Phys., 14, 8599-8610, 2014</p></div>

        <div class="collapsible-body"><p><a href="http://onlinelibrary.wiley.com/doi/10.1002/jgrd.50725/pdf" target="_blank" class="h7 red-text text-darken-4">Toward a comprehensive global electric circuit model: Atmospheric conductivity and its variability in cesm1(waccm) model simulations</a><br>A. J. G. Baumgaertner, J.P. Thayer, R. R. Neely, and <b>G. Lucas</b><br>J. Geophys. Res., vol. 118, no. 16, pp. 9221-9232, 2013</p></div>

      </li>

      <li>

        <div class="collapsible-header"><i class="material-icons">person</i>Thesis</div>

        <div class="collapsible-body"><p><a href="https://search.proquest.com/openview/29b755f4365ffaf9dee37418fe93eeb3/" target="_blank" class="h7 red-text text-darken-4">Investigating the Physical Mechanisms That Impact Electric Fields in the Atmosphere</a><br><b>Lucas, Greg M.</b>. University of Colorado at Boulder, ProQuest Dissertations Publishing, 2017. 10271307.<br><a href="https://www.youtube.com/watch?v=gsnBht-Gefw" target="_blank" class="red-text text-darken-4">Recording of the Defense</a><br><a href="https://github.com/greglucas/Lucas-Thesis" target="_blank" class="red-text text-darken-4">Slides and Thesis</a></p></div>

      </li>

      <li>

        <div class="collapsible-header"><i class="material-icons">description</i>Reports</div>

        <div class="collapsible-body"><p><span class="h7 red-text text-darken-4">Final safety analysis report for the mars science laboratory mmrtg launch approval addendum</span><br>L. Akin et al.<br>2010<br>SAND2010-2547</p></div>

        <div class="collapsible-body"><p><span class="h7 red-text text-darken-4">Final safety analysis report for the mars science laboratory mmrtg launch approval addendum update</span><br>L. Akin et al.<br>2010<br>SAND2010-5559</p></div>

      </li>

      <li>

        <div class="collapsible-header"><i class="material-icons">library_books</i>Conference Papers</div>

        <div class="collapsible-body"><p><span class="h7 red-text text-darken-4">Numerical modeling of the global electric circuit</span><br><b>G. M. Lucas</b>, A. J. G. Baumgaertner, J. P. Thayer<br>Thunderstorm Effects on the Atmosphere-Ionosphere System Summer School, June 2014</p></div>

        <div class="collapsible-body"><p><span class="h7 red-text text-darken-4">Dose calculations for nuclear thermal rocket exhaust</span><br><b>G. Lucas</b>, N. Bixler, and R. Lipinski<br>Nuclear and Emerging Technologies in Space, February 2013</p></div>

        <div class="collapsible-body"><p><a href="http://www.lpi.usra.edu/meetings/nets2012/pdf/3046.pdf" target="_blank" class="h7 red-text text-darken-4">Solid propellant behavior in radioisotope power systems accident sequence modeling</a><br>D. Clayton and <b>G. Lucas</b><br>Nuclear and Emerging Technologies in Space, February 2012</p></div>

        <div class="collapsible-body"><p><a href="http://www.lpi.usra.edu/meetings/nets2012/pdf/3009.pdf" target="_blank" class="h7 red-text text-darken-4">Resulting source term from the mars science laboratory safety analysis</a><br>D. Clayton, <b>G. Lucas</b>, and T. Radel<br>Nuclear and Emerging Technologies in Space, February 2012</p></div>

        <div class="collapsible-body"><p><a href="http://www.lpi.usra.edu/meetings/nets2012/pdf/3008.pdf" target="_blank" class="h7 red-text text-darken-4">Accident sequence modeling for radioisotope power systems</a><br>D. Clayton, <b>G. Lucas</b>, T. Radel, and B. Wiberg<br>Nuclear and Emerging Technologies in Space, February 2012</p></div>

        <div class="collapsible-body"><p><span class="h7 red-text text-darken-4">Modeling solid propellant shielding phenomena for launch accident analysis</span><br>T. Radel and <b>G. Lucas</b><br>American Nuclear Society, November 2009</p></div>

        <div class="collapsible-body"><p><span class="h7 red-text text-darken-4">Dual-source dual-energy ct (dect) combined images can provide improved image quality relative to single-energy ct with no increase in patient dose</span><br>L. Yu, <b>G. Lucas</b>, A. Primak, O. Dzyubak, X. Liu, and C. McCollough<br>Radiological Society of North America, 2007<br>Abstract 5011915</p></div>

      </li>

      <li>

        <div class="collapsible-header"><i class="material-icons">view_array</i>Conference Posters</div>

        <div class="collapsible-body"><p><a href="https://www.essoar.org/doi/abs/10.1002/essoar.10500157.1" target="_blank" class="h7 red-text text-darken-4">Hazard Analysis of Geomagnetically Induced Voltages Throughout the US Power Grid</a><br><b>G. M. Lucas</b>, J. J. Love, A. Kelbert, P. A. Bedrosian, E. J. Rigler<br>2018 AGU, Washington, DC</p></div>

        <div class="collapsible-body"><p><a href="https://cedarweb.vsp.ucar.edu/wiki/images/f/f9/2015CEDAR_COUP-06_Lucas.pdf" target="_blank" class="h7 red-text text-darken-4">Magnetospheric Coupling to the Global Electric Circuit</a><br><b>G. M. Lucas</b>, J. P. Thayer<br>2015 CEDAR Workshop, Seattle, WA</p></div>

        <div class="collapsible-body"><p><a href="https://agu.confex.com/agu/fm14/meetingapp.cgi#Paper/18198" target="_blank" class="h7 red-text text-darken-4">Model Simulations of the Diurnal and Seasonal Variations of the Global Electric Circuit Using a Consistent 3D Model Framework</a><br><b>G. M. Lucas</b>, A. J. G. Baumgaertner, J. P. Thayer, V. Bayona, N. Flyer<br>2014 American Geophysical Union Conference, San Francisco, CA</p></div>

        <div class="collapsible-body"><p><span class="h7 red-text text-darken-4">Modeling the electrical characteristics of the global electric circuit</span><br><b>G. M. Lucas</b>, E. Lehto, A. J. G. Baumgaertner, J. P. Thayer, J. M. Forbes, and X. Zhang<br>2013 American Geophysical Union Conference, San Francisco, CA</p></div>

        <div class="collapsible-body"><p><span class="h7 red-text text-darken-4">Analytic model of the global electric circuit</span><br><b>G. Lucas</b>, A. Baumgaertner, and J. Thayer<br>2013 CEDAR Workshop, Boulder, CO</p></div>

        <div class="collapsible-body"><p><span class="h7 red-text text-darken-4">Microstructural evolution of iridium cladding</span><br><b>G. Lucas</b><br>September 2011 International Nuclear Fuels Conference, Cambridge, UK</p></div>

      </li>

    </ul>

  </div>
</div>
