<div class="center">
  <h5 class="header col s12 brown-text text-darken-2">Sources</h5>
  <img class="research-img responsive-img" src="./images/GEC2.png">
  <p class="light left-align">The source of current within the GEC comes from electrified clouds (thunderstorms). These clouds are able to produce a current that contributes to the entire domain of the GEC. A good representation of the strength and location of the storms is found through the updraft mass flux that is produced within the storms. This parameter within the model is used to produce a parameterization to the total current within each column of the atmosphere, which then produces the total current flowing in the domain as seen above.</p>
</div>
