  <div class="container center">
    <p class="light left-align">The Global Electric Circuit is a research field that investigates the electrical connections within Earth's atmosphere. Greg has developed a GEC model that is incorporated into a community climate model which provides the physical representation of the atmosphere. A full description of this new model named WACCM-GEC is published in <span><a href="http://onlinelibrary.wiley.com/doi/10.1002/2015JD023562/full" class="red-text text-darken-4">JGR-Atmospheres</a></span>. This work was selected for a <span><a href="https://eos.org/research-spotlights/considering-atmospheric-electricity-climate-models" class="red-text text-darken-4">highlight in EOS</a></span>.</p>
    <img id="gec-img-1" class="materialboxed" src="http://ccar.colorado.edu/glucas/images/GEC_all.png">
    <p class="light left-align">Utilizing a climate model to produce a physical atmosphere enables a realistic representation of the electric currents within the atmosphere to be produced. To provide a comprehensive GEC model, a global distribution of conductivity and source strengths must be calculated. All of the processes considered within WACCM-GEC can be seen in the figure above, including production and loss of ions for conductivity and electrified clouds generating current within the atmosphere.</p>
  </div>

<script>
  $(document).ready(function(){
    $('.materialboxed').materialbox()
  })
</script>
